@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto -8px auto;
  position: relative;
}

.navigation_pages {
  width: 600px;
  display: flex;
  align-items: center;
}

.nav-main {
  margin-left: 16px;
}

.nav-about {
  margin-left: 32px;
}

.nav-hotels {
  margin-left: 32px;
}


.navigation_list {
  margin: 0;
  padding: 0;
}

.logo_index {
  width: 140px;
  margin-right: 28px;
  margin-left: 70px;
}

.navigation_interfice{
  margin-left: auto;
  width: 300px;
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.interfice-search {
  margin-right: 25px;
}

.interfice-favorites {
  margin-right: 33px;
}

.visually-hidden {
  display: none;
}



li {
list-style-type: none;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hyphen-white {
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
}

.hyphen-black {
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 30px auto 30px auto;
}

.advantages_list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  padding: 0px;
  margin-top: 0px;
}

.advantages_item {
  display: flex;
}

.advantages-description-wrapper-112 {
  display: flex;
  flex-direction: column;
  margin: 112.5px auto 112.5px auto;
  width: 230px;
  min-height: 160px;
  justify-content: space-between;
}

.advantages-description-wrapper-80 {
  display: flex;
  flex-direction: column;
  margin: 80px auto 81px auto;
  width: 230px;
  min-height: 223px;
  justify-content: space-between;
  align-items: center;
}

.advantages_description {
  margin: 0;
}

.advantages_block {
  width: 400px;
}

.oftop_advantages_block {
  width: 1200px;
  height: 246px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  }

.oftop_header {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  margin: 64px auto 0px auto;
}

.oftop_advantage_description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
  margin: 20px auto auto auto;
}

.advantages_photoitem {
  width: 1200px;
  padding: 0;
}

.advantages_photo {
  display: block;
}

.Search_hotel {
  width: 1200px;
  padding: 0;
}

.advantages {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.sedona_short_description {
  margin: 69px auto 25px auto;
}

.advantages_intro {
  margin: 0px auto 90px auto;
}


.navigation_link {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
}

.lets_go_button{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  padding: 8px 34px;
  border-radius: 4px;
  margin-top: 14px;
}

.sedona_short_description{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.advantages_intro{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
}

.advantages_description {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages_photoitem {
  display: flex;
}

.advantages_block-photo {
  display: flex;
  flex-direction: column;
  margin: 102px auto 102px auto;
  width: 230px;
  justify-content: space-between;
}

.advantages_photo-wrapper-bridge {
  order: -1;
}


.advantages-dark-blue {
background-color: #82B3D3;
color: #FFFFFF;
}

.advantages_description_white{
  background-color: #82B3D3;
  color: #FFFFFF;
  margin: 0px;
}

.advantages-soft-blue {
color: #000000;
background-color: rgba(131, 179, 211, 0.12);
}

.advantages-soft-blue-tansporent {
color: #000000;
background-color: rgba(131, 179, 211, 0.2);
}

.main_index h3 {
font-family: 'PT Sans', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
margin: 0px;
}

footer {
  display: flex;
  flex-direction: column;
}

.page-footer-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.contact_us {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.social_list {
  display: flex;
  max-width: 190px;
  max-height: 40px;
  margin-top: 45px;
  margin-left: 70px;
  margin-bottom: 35px;
  margin-right: 236.5px;
  padding: 13px 12px 13px 12px;
}

.social_list_item-vk {
  margin-right: 26px;

}

.vk-svg {
  fill: #83B3D3;
}

.vk-svg:hover {
  fill: #68A2CA;
}

.vk-svg:focus {
  fill: #68A2CA;
}

.vk-svg:active {
  fill: rgba(104, 162, 202, 0.3);
}

.social_list_item-tg{
  order: 2;
  margin-left: 27px;
}

.tg-svg {
  fill: #83B3D3;
}

.tg-svg:hover {
  fill: #68A2CA;
}

.tg-svg:focus {
  fill:#68A2CA;
}

.tg-svg:active {
  fill: rgba(104, 162, 202, 0.3);
}


.phonenumber {
  max-width: 340px;
  margin-right: 235.5px;
}

.phonenumber-LINK:hover {
  color: #756157;
}

.phonenumber-LINK:focus {
  color: #756157;
}

.phonenumber-LINK:active {
  fill:rgba(117, 97, 87, 0.3); ;
}


.yt-svg{
  fill: #83B3D3;
}

.yt-svg:hover {
  fill: #83B3D3;
}

.yt-svg:focus {
  fill: #68A2CA;
}

.yt-svg:active {
  fill: rgba(104, 162, 202, 0.3);
}


.html-svg {
  fill: black;
}

.html-svg:hover {
  fill:#756157;
}

.html-svg:focus {
  fill: #756157;
}

.html-svg:active {
  fill: #756157  ;
}

.about-text {
  max-width: 120px;
}

.search_hotel-wrapper{
  display: flex;
  flex-direction: column;
  margin: 96px auto;
  width: 592px;
  min-height: 108px;
  justify-content: space-between;
}

.Search_hotel_title {
font-family: 'PT Sans', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
margin: 0 0 20px 0;
}

.hotel_title {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.Search_hotel_text{
font-family: 'PT Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #333333;
margin: 0;
}

.Search_hotel_button{
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  align-items: center;
  padding-top: 8px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 54px;
  cursor: pointer;
  width: 376px;
  height: 52px;
  box-sizing: border-box;
}


.newsletter-wrapper {
  display: flex;
  flex-direction: column;
  margin: 96px auto 104px auto;
  width: 592px;
  min-height: 108px;
  justify-content: space-between;
  align-items: center;
}

.newsletter_subscribe {
  display: flex;
  align-items: center;
  margin: 54px auto 104px auto;
  width: 684px;
}


.subscribe {
  background: #F2F2F2;
  border-radius: 4px 0px 0px 4px;
  width: 452px;
  height: 52px;
  border: none;
}

.newsletter {
  background-image: url("../images/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 414px;
  display: flex;
}

.newsletter-catalog {
  width: 1200px;
  height: 414.5px;
  display: flex;
  background-color: #FFFFFF;
}

.newsletter_title{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto 20px auto ;
}

.newsletter_title-black{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color:#000000;
  margin: 0 auto 20px auto ;
}


.newsletter_description{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto ;
}

.newsletter_description-black{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color:#000000;
  margin: 0 auto ;
}

.subscribe{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #000000;
  padding: 0 0 0 20px;
}

.sub_modul-wrapper {
  align-self: center;
  margin-top: 54px;
}

.subscribe_button{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 0px 4px 4px 0px;
  border: none;
  height: 52px;
  padding: 0px;
  width: 244px;
}

.search_results {
  padding-bottom: 42px;
}

.accept_button:hover,
.hotel_card_button-favorite:hover,
.subscribe_button:hover {
  background-color: #68A2CA;

}

.accept_button:focus,
.hotel_card_button-favorite:focus,
.subscribe_button:focus {
  background-color: #68A2CA;
}

.accept_button:active,
.hotel_card_button-favorite:active,
.subscribe_button:active {
  color: #FFFFFF;
}

.hotel_card_button-more:hover,
.lets_go_button:hover,
.Search_hotel_button:hover {
  background-color: #615048;
}

.hotel_card_button-more:active,
.lets_go_button:active,
.Search_hotel_button:active {
  background-color:#756157;
  color: rgba(255, 255, 255, 0.3);
}

.hotel_card_button-favorite-chosed:hover {
  background-color: #6C9E42;
}

.hotel_card_button-favorite-chosed:focus {
  background-color: #6C9E42;
}

.hotel_card_button-favorite-chosed:active {
  color: rgba(255, 255, 255, 0.3);
}

.reset_button:hover {
  color: rgba(255, 255, 255, 0.3);
}

.reset_button:active {
  color: #FFFFFF;
  opacity: 0.1;

}


.phonenumber a{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration-line: none;
}

.catalog_filter{
  background-image: url("../images/filter_back.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  width: 1200px;
  height: 408px;
}

.inner_header_title{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;

}

.vector-right{
  background-image: url("../images/icons/arrow-right.png");
  width: 6.39px;
  height: 9.94px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner_header_title {
  margin-left: 70px;
  margin-bottom: 8px;
  margin-top: 35px;
  margin-right: auto;
}

.breadcrumbs_item a{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs {
  display: flex;
  width: 150px;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 40px;
}

.breadcrumbs_item-home {
  margin-right: 11.3px;
}

.breadcrumbs_item-curen {
  margin-left: 10.8px;
}

.catalog_filter_title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.catalog_buttons {
  display: flex;
  max-height: 225px;
}

.catalog_filter {
  display: flex;
  flex-direction: column;
}

.range {
  width: 287px;
  height: 160px;
  margin-right: 70px;
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color:white;
  opacity: 0.3;
  border-radius: 5px;
}


.buttons-wrapper {
  display: flex;
  flex-direction: column;
}




.accommodation_type_list_item,
.control{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.infrastructure {
  width: 150.43px;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin-right: 70px;
  margin-bottom: 73px;
  margin-left: 70px;
}

.infrastructure-title {
  margin-bottom: 32px;
  padding: 0;
}

.control_input {
  padding: 0;
  background: #FFFFFF;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 16px;
}

.control{
  align-items: center;
  padding: 0;
}

.control-swimmingpool {
  display: flex;
  margin-bottom: 16px;
  align-content: center;
  padding: 0;
}

.control-parking {
  margin-bottom: 16px;
  padding: 0;
}

.accommodation_type_list_item {
  margin-bottom: 16px;
}

.accommodation_type_list {
  padding: 0;
  margin-right: 140px;
}

.control-input-ac {
  margin-right: 16px;
}


.accept_button {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 8px 50px;
  border: none;
  cursor: pointer;
  border-radius: 4px;

}

.reset_button {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  padding: 8px 57.5px;
}

.catalog_filter_group {
  border: none;
}

.button_bold{
  border: 2px solid black;
  border-radius: 4px;
}

.button_light {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  cursor: pointer;

}

.button_light:hover {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button_light:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.button_light:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.sort-select {
  width: 292px;
  height: 49px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: 70px;
}

.sort-options-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16.5px;
  margin-left: 70px;
  margin-top: 26px;
}

.search_resaults_title {
  margin-right: 200px;
}

.options_icons-wrapper {
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.options_icons-wrapper a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 12px;
}

.view-icon-image {
  display: block;
  align-items: center;
}

.search_resaults_title {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hotels-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  margin-right: 70px;
  margin-left: 70px;
  margin-bottom: 40px;
  padding: 0;
  }

.hotel_card_link{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  width: 300px;
}

.hotel_card {
  display: flex;
  flex-direction: column;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  width: 300px;
  padding: 20px;

}

.hotel_card img {
  display: block;
  width: 300px;
  margin: 0;

}

.hotel_type {
  width: 140px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotel_price {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 140px;
  text-align: right;
}


.card-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  box-sizing: content-box;
  margin-top: auto ;
}

.card-content-wrapper :nth-child(1) {
  margin-right: 20px;
  margin-bottom: 16px;
}

.card-content-wrapper :nth-child(2) {
  margin-bottom: 16px;
}

.card-content-wrapper :nth-child(3) {
  margin-bottom: 16px;
  margin-right: 20px;
}

.card-content-wrapper :nth-child(4) {
  margin-bottom: 16px;
}

.card-content-wrapper :nth-child(5) {
  margin-right: auto;
}

.hotel_card_button-more{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  padding: 8px 26px;
  background: #756157;
  border-radius: 4px;
}

.hotel_card_button-favorite{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  background: #82B3D3;
  border-radius: 4px;
  padding: 8px 20px;
}

.hotel_card_button-favorite-chosed{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-decoration: none;
  padding: 8px 18px;
  background: #7DB54F;
  border-radius: 4px;
}

.rating {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  padding: 8px 22px;
}

.stars {
  width: 140px;
  margin-top: 10px;
}

.four-stars{
  background-image: url("../images/icons/star.png");
  background-size: 25% auto;
  background-color: #FFFFFF;
  width: 80px;
  height: 20px;
}

.three-stars{
  background-image: url("../images/icons/star.png");
  background-size: 33% auto;
  background-color: #FFFFFF;
  width: 66px;
  height: 20px;
}

.two-stars{
  background-image: url("../images/icons/star.png");
  background-size: 50% auto;
  background-color: #FFFFFF;
  width: 44px;
  height: 20px;
}

.underliner {
  width: 1060px;
  height: 1px;
  background-color: #E6E6E6;
  margin: 0 70px 40px 70px;
}

.pagination {
  display: flex;
  margin-left: 70px;
  padding: 0;
}




.pagination_item {
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-right: 8px;
  cursor: pointer;
}

.pagination_item:hover {
  background:#68A2CA  ;

}

.pagination_item:focus {
  background: #68A2CA  ;
  color: #68A2CA;
}

.pagination_item:active {
  background:#82B3D3
}

.pagination_link {
  margin: 0 auto;
}



.pagination_link{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination_current{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #F2F2F2;
}



.pagination_item-current {
  background: #F2F2F2;
  border-radius: 4px;
}

.pagination-white {
  background-color: white;
}

.pagination-white a{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: white;
}

.select_control{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.amaunt-title{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.newsletter_title-catalog{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: white;
}

.newsletter_description-catalog{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: white;
}

.pagination_current:focus {
  background: #F2F2F2  ;
}
